/.vs/
/obj/
/bin/
/.config/
/StellarisTest/obj/
/StellarisTest/bin/
/NativeMethods/x64/
/Main/NativeMethods.exp
/Main/NativeMethods.pdb
/Main/NativeMethods.ipdb
/Main/NativeMethods.iobj
/Main/NativeMethods.lib
x64/Debug/NativeMethods.dll
x64/Debug/NativeMethods.exp
x64/Debug/NativeMethods.ilk
x64/Debug/NativeMethods.lib
x64/Debug/NativeMethods.pdb
/NativeMethods/obj/
